body {
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    position: fixed;
  }
.services {
  
  top: 0; /* Position it at the top */
  left: 0; /* Position it at the left */
  right: 0; 
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  width: 100vw;
  height: 30vh;
  margin: 0 auto; /* Center the services section */
  background-color:black; /* Light background for contrast */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow-y:auto;
}

.services h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: white;
}

.services p {
  font-size: 1rem;
  line-height: 1.6;
  color: white;
  margin-bottom: 1rem;
}

.service-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
}

.service-icons i {
  font-size: 2rem;
  color: #ff6600;
  transition: color 0.3s ease;
  
}

.service-icons i:hover {
  color: #e65c00;
}

  
  .service-icons box{
    
    flex-direction: row;
   padding: 1rem;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 150px;
    text-align: center;
   gap:1rem;
  display: flex;
  margin-left: 1rem;
  ;
}
.special-offers {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 30px;
  text-align: center;
  width:90vw;
  margin-left: 50px;
}

.offer-box {
  flex: 1;
  background:black;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  height: 700px;
  width: 50%;
}

.offer-box img {
  
  width: 80%;
  height: 350px;
  object-fit: cover;
}


.tours-container {
  margin-top: 01px;
  padding: 20px;
  width:90vw;
  background-color:black;
  border-radius: 05px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
  line-height: 1.6;
  text-align: left;
}

.tours-title {
  font-size: 2rem;
  color: white;
  margin-bottom: 10px;
  text-align: center;
}

.tours-description {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 15px;
  text-align: justify;
}

.tours-list {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 15px;
}

.tours-list li {
  font-size: 1rem;
  color: white;
  margin-bottom: 10px;
}

.tours-container p:last-of-type {
  font-weight: bold;
  color: white;
  text-align: center;
}


  

  