

  .box-search {
    background-color: black;
    border: 1px solid orange;
    padding: 10px;
   display: flex;
    justify-content: space-between;
    z-index: 12;
    position: relative;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    gap: 10px;
   align-items: center;
    }
  
  /* Styling for each search item */
  .item-search {
    width: 20%;
    padding: 0px 12px;
    position: relative;
    padding: 10px;
    font-size: 14px;
  }
  
  .item-search::before {
    content: "";
    position: absolute;
    top: 1px;
    right: 10px;
    width: 1px;
    height: 58px;
    background-color: white;
  }
  
  /* Label for the inputs */
  .item-search-label {
    font-size: black;
    line-height: 22px;
    color: white;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
  }
  
  /* DatePicker container customization */
  .react-datepicker-wrapper input {
    border: none;
    padding: 5px 40px 5px 5px;
    padding-left: 22px !important;
    line-height: 1.5;
    width: 100%;
    font-size: var(--bodyText);
    font-weight: bold;
    color: wheat; 
    font-family: "Poppins", sans-serif;
  }
  
  /* Focus state for DatePicker */
  .react-datepicker-wrapper input:focus {
    border: none;
    outline: none;
  }
  
  /* Button styling */
  .primaryBtn {
    padding: 15px 25px !important;
    font-size: 16px;
    line-height: 26px !important;
    display: flex;
    border: none;
    font-weight: bold;
    background-color: rgb(199, 132, 9);
    color: black;
  }
  
  .primaryBtn:hover {
    background-color: white;
  }
  
  /* Responsive Design */
  @media (max-width: 1199px) {
    .box-search {
      flex-wrap: wrap;
    }
   .box-search .item-search {
      width: 25%;
    }
  }
  
  @media (max-width: 991px) {
     .box-search .item-search {
      width: 50%;
      padding: 0px 27px;
      margin-bottom: 15px;
    }
  }
  
  @media (max-width: 575px) {
     .box-search .item-search {
      width: 100%;
      border-bottom: 1px solid white;
      padding: 10px;
    }
     .box-search .item-search::before {
      display: none;
    }
  }
  

  
  
  