body {
    margin: 0;
    padding-top: 0;
    font-family: Arial, sans-serif;
    background-size: cover;  
    background-position: center;  
     height: 100vh;
      overflow-x: hidden;
  
  
  }

  